body,
div#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  width: 100vw;
  height: 100vh;

  background-image: url(../res/clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
div#container {
  gap: 25px;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}
